table.calendar-table {
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #efefef;
    table-layout: fixed;
}

table.calendar-table > thead.calender-table-head > tr > th.calendar-th{
    text-align: center;
}

thead.calendar-table-head{
    color: #efefef;
    background-color: #325D79;
    border-collapse: collapse;
}

.calendar-th{
    border: 2px solid #efefef;
    text-align: center;
    padding: 2rem;
    overflow: hidden;
}

table.calendar-table .selected{
    background-color: #325D79;
}

table.calendar-table tbody tr td.today{
    background-color: #f7f7f7;
    color: #325D79;

}

table.calendar-table td{
    padding: 2rem;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #efefef;
}

.calendar-highlight{
    background-color: #CE5A67;
    margin-bottom: 0;
    margin-top: 0px;
}