main{
    background-color: #F5F2ED;
    min-height: 100vh;
    max-height: 100%;
    margin-left: 0;
    overflow:auto;
}
main.dashboard{
    background-color: #F5F2ED;
    min-height: 100vh;
    max-height: 100%;
    margin-right: 0;
    margin-left: 8.33%;
    overflow:auto;
    margin-top: 69px;
}

bg-primary{
    background-color: #FCF5ED;
}
.container-title{
    color: #325D79;
    margin-bottom: 5px;
    font-weight: 900;
}
.mb-1{
    margin-bottom: 10px;
}
.mt-1{
    margin-top: 10px;
}
.small-text{
    font-size: 12px;
    font-weight: 200;
}
.text-right{
    text-align: right;
}
.link-decor-none{
    text-decoration: none;
    color: #325D79;
}
.row-3{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    padding: 10px;
    gap: 20px;
}
.row-2{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    padding: 10px;
    gap: 20px;
}
.row-1{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card-row > .card {
    text-align: center;
  }
.card-row::after {
    content: "";
    clear: both;
    display: table;
}
/*
.card- {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5%;
    background-color: #fff9f2;
    min-width: 600px;
    padding-bottom: 30px;
}
.card- .card-header-{
    margin-top: 0;
    margin-bottom: 0;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: .5px solid #CE5A67 ;
    font-family: Anuphan;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
*/
.container {
    padding: 40px;
    border: .5px solid #CE5A67;
    margin: 20px;
    text-align: center;
}

.container-border-0 {
    padding: 10px;
    margin: 0;
    display: grid;
}
.contents-center{
    text-align: center;
}
.contents-center h4{
    justify-content: left ;
}
.container-full-width {
    padding: 10px;
    border: .5px solid #CE5A67;
    margin: 20px;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .col-6 {
      width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    main.dashboard {
        width: 100%;
        margin-left: 0;
    }
    .row-2{
        display: grid;
        grid-template-columns: auto;
        align-content: center;
        padding: 10px;
        gap: 20px;
    }
}