main{
    min-height: 100vh;
    background-color: #F5F2ED;
    margin-top: 108px;
}
main.dashboard{
    background-color: #F5F2ED;
    min-height: 100vh;
    height: auto;
    margin-left: 8.33%;
    margin-top: 69px;
    margin-bottom: 0;
}

bg-primary{
    background-color: #FCF5ED;
}
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;500;600;700&family=Chonburi&display=swap');
* {
  box-sizing: border-box;
}
.row{
    width: 100;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;padding: 40px;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }
}

.container-title{
    color: #325D79;
    margin-bottom: 5px;
    font-weight: 900;
}
.mb-1{
    margin-bottom: 10px;
}
.mt-1{
    margin-top: 10px;
}
.mb-0{
    margin-bottom: 0;
}
.small-text{
    font-size: 12px;
    font-weight: 200;
}
.text-right{
    text-align: right;
}
.link-decor-none{
    text-decoration: none;
    color: #325D79;
}
.row-3{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    padding: 10px;
    gap: 20px;
}
.row-2{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    padding: 10px;
    gap: 20px;
}
.row-1{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    padding: 10px;
    gap: 20px;
}

.card-row > .card {
    text-align: center;
  }
.card-row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    text-align: center;
    justify-content: center;
    display: flex;
}

.container-border-0 {
    padding: 10px;
    margin: 0;
    display: grid;
}
.contents-center{
    text-align: center;
    justify-content: center;
}
.contents-center h4{
    justify-content: left ;
}
.container-full-width {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.mt-100{
    margin-top: 100px;
}
.mt-39{
    margin-top: 39px;
}
.mt{
    margin-top: auto;
}
@media screen and (max-width: 600px) {
    .col-6 {
      width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .row-2{
        display: grid;
        grid-template-columns: auto;
        align-content: center;
        padding: 10px;
        gap: 20px;
    }
}